.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cim{
  background-image:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
  width:2550px;
  height:804px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.helso{
  font-size: 80px;
  margin-right:800px;
  margin-top:400px;
  margin-bottom:-40px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(255, 255, 255);
}
.hmasodik{
  font-size:135px;
  margin-right:200px;
  font-family: 'Abril Fatface', cursive;
  color: rgb(255, 255, 255);
}
.wholemain{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column; 
  font-size:45px;
}
.szoveg{
 margin-top:100px;
  width:1550px;
  
}
ul{
  margin-right:520px;
}

blockquote::before{
  position:absolute;
  top:10px;
  left:20px;
  content:'"';
  background:grey;
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
  

}
blockquote::after{
  position:absolute;
  bottom:0px;
  right:20px;
  content:'"';
  background:grey;
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
  

}
blockquote{
  position:relative;
  width:1300px;
  height:100px;
  text-align:center;
  background:grey;
  color:white;
  font-family: 'Abril Fatface', cursive;
  margin-left:auto;
  margin-right:auto;
  padding:40px 20px;
  font-size:50px;
}